.main {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 780px;
}

.left-side {
    top: 0;
    left: 0;
    height: 760px;
    padding: 20px;
}

.right-side {
    margin-left: 100px;
}
